@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Roboto", sans-serif;
}

@theme {
    --color-primary: #FFFFFF;
    --color-primary-second: #FCFBFC;
    --color-primary-third: #F5F5F5;
    --color-secondary: #2B6E4E;

}